n8n_workflows/obtener_datos_google_search_console.json
{
  "name": "Get Google Search Console Data Template",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -120,
        -20
      ],
      "id": "636ea8c0-eeae-4fe8-9df3-7d6a7aee2fcd",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://searchconsole.googleapis.com/v1/urlInspection/index:inspect",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"inspectionUrl\": \"YOUR_PAGE\",\n  \"siteUrl\": \"YOUR_DOMAIN\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        180
      ],
      "id": "9041fca7-1f93-4943-9a77-27c6f59e2699",
      "name": "Inspect URL"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://searchconsole.googleapis.com/webmasters/v3/sites/YOUR_DOMAIN/searchAnalytics/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"startDate\": \"2025-02-26\",\n  \"endDate\": \"2025-03-26\",\n  \"dimensions\": [\"query\", \"date\"],\n  \"dimensionFilterGroups\": [{\n    \"filters\": [{\n      \"dimension\": \"page\",\n      \"operator\": \"equals\",\n      \"expression\": \"YOUR_PAGE\"\n    }]\n  }],\n  \"rowLimit\": 10000\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        -20
      ],
      "id": "63fc0bcb-ffc5-44ff-8904-659e8e37bc39",
      "name": "Get Daily Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://searchconsole.googleapis.com/webmasters/v3/sites/YOUR_DOMAIN/searchAnalytics/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"startDate\": \"2025-02-26\",\n  \"endDate\": \"2025-03-26\",\n  \"dimensions\": [\"query\"],\n  \"dimensionFilterGroups\": [{\n    \"filters\": [{\n      \"dimension\": \"page\",\n      \"operator\": \"equals\",\n      \"expression\": \"YOUR_PAGE\"\n    }]\n  }],\n  \"rowLimit\": 25000\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        -200
      ],
      "id": "41c63bfc-04cb-4857-895f-042ed2d8ccd8",
      "name": "Get Page Data"
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.item.json.rows || $input.item.json;\n\n// Map each row to a cleaner format\nreturn rows.map(row => {\n  return {\n    query: row.keys[0],\n    clicks: row.clicks,\n    impressions: row.impressions,\n    ctr: row.ctr,\n    position: row.position\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        380,
        -200
      ],
      "id": "c716fb0f-55cf-4d37-a844-f043f437d7fa",
      "name": "Flatten Page Data"
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.item.json.rows || $input.item.json;\n\n// Map each row to a cleaner format with query, date and metrics\nreturn rows.map(row => {\n  return {\n    query: row.keys[0],\n    date: row.keys[1],\n    clicks: row.clicks,\n    impressions: row.impressions,\n    ctr: row.ctr,\n    position: row.position\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        380,
        -20
      ],
      "id": "558a78c8-1e4b-47a9-b3ad-2b4f80069c2d",
      "name": "Flatten Daily Data"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Get Daily Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Page Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Inspect URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Daily Data": {
      "main": [
        [
          {
            "node": "Flatten Daily Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Page Data": {
      "main": [
        [
          {
            "node": "Flatten Page Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten Page Data": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "54d97fed-7579-4842-9e9e-ef1130865cad",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "QCMTx57uPJsaQ9de",
  "tags": [
    {
      "createdAt": "2025-03-02T12:05:53.836Z",
      "updatedAt": "2025-03-02T12:05:53.836Z",
      "id": "utwtHTzeqUdktrxJ",
      "name": "SEO"
    }
  ]
}
