n8n_workflows/Workflow Actualizar_Archivo_en_Supabase_S.json
{
  "name": "Update File in Supabase",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {}
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1kB1PdiQ9hSXyilabG-06aVus4NXXRbmM",
          "mode": "list",
          "cachedResultName": "Kamexa Policies - DEMO",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1kB1PdiQ9hSXyilabG-06aVus4NXXRbmM"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "01b6727e-6480-4fcf-bc42-34f9cf309694",
      "name": "File Updated",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        120,
        -100
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "zEyLkbCslh3X0OCz",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{ $json.id }}*"
      },
      "id": "aae3e423-887d-4a15-88ac-a97dcfdb885f",
      "name": "Delete Row(s)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        380,
        -100
      ],
      "credentials": {
        "supabaseApi": {
          "id": "u6uADUP7kCk9Ophz",
          "name": "DEMO"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b4433ac7-0b70-4405-a564-f3f78f784470",
              "name": "file_id",
              "value": "={{ $('File Updated').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ae8192f4-7848-454b-9720-a0d669ed7c1a",
      "name": "Get FIle ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        660,
        -100
      ]
    },
    {
      "parameters": {},
      "id": "3eb4637b-7bbd-4167-be7a-175db2863b1a",
      "name": "Reformat",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        860,
        -100
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Get FIle ID').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "id": "61a340a0-4a97-4b82-ac2a-ee287264f803",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1100,
        -100
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "zEyLkbCslh3X0OCz",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Update File in Knowledge Base \n",
        "height": 80,
        "width": 640,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        -360
      ],
      "typeVersion": 1,
      "id": "ccc1bf3e-9913-45ff-946c-5acb53c8cd48",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Get File to Update\n \n",
        "height": 260,
        "width": 280,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        -200
      ],
      "typeVersion": 1,
      "id": "c36fe6a1-a29f-4a3a-aadf-8404eb904690",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Delete Embeddings in Database \n",
        "height": 260,
        "width": 280,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        300,
        -200
      ],
      "typeVersion": 1,
      "id": "a90a437e-e2a5-4e44-868a-8dbb548c831e",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Fix Formatting\n",
        "height": 260,
        "width": 400,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        620,
        -200
      ],
      "typeVersion": 1,
      "id": "e7095709-ba37-40de-9dff-aa6608808023",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Extract File Text\n\n",
        "height": 260,
        "width": 420,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1040,
        -200
      ],
      "typeVersion": 1,
      "id": "96defef4-4019-4199-aad3-6a2987b637d6",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Update Vector Database\n\n",
        "height": 580,
        "width": 600,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1500,
        -200
      ],
      "typeVersion": 1,
      "id": "cd227cae-9eaa-42e0-b145-9599ea83d0b2",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "chunkSize": 300,
        "chunkOverlap": 50,
        "options": {}
      },
      "id": "cdcc6761-145a-480a-9dd7-470f5738858f",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1900,
        240
      ]
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "3bf32dfa-6e98-46e7-943d-9565573841c0",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1280,
        -100
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "6f00f4f7-1a01-4699-afb9-8062490a26fc",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        1620,
        100
      ],
      "credentials": {
        "openAiApi": {
          "id": "j48Yn0M4KeSBdU1F",
          "name": "OpenAI - Kia "
        }
      }
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Reformat').item.json.file_id }}"
              }
            ]
          }
        }
      },
      "id": "b1c871cf-12c8-4bf5-9223-5c737861b586",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1800,
        100
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "cba79ba9-8aeb-409d-9879-1969ed45cff0",
      "name": "Supabase Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        1640,
        -100
      ],
      "credentials": {
        "supabaseApi": {
          "id": "u6uADUP7kCk9Ophz",
          "name": "DEMO"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "File Updated": {
      "main": [
        [
          {
            "node": "Delete Row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Row(s)": {
      "main": [
        [
          {
            "node": "Get FIle ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get FIle ID": {
      "main": [
        [
          {
            "node": "Reformat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reformat": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d8a16777-78e8-4729-b9dd-ad43b90538aa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "18d8b08cb4815059d1828b7433fb6474c11a74ed8979856996e39dd2f666d3bc"
  },
  "id": "ujI7IgJRrjh6rrb5",
  "tags": []
}