n8n_workflows/Workflow Daily Google Sheet to GitHub.json
{
  "name": "Workflow Daily Google Sheet to GitHub",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days"
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "id": "e6f8a9b0-1c2d-4e3f-9a0b-5c6d7e8f9a0b"
    },
    {
      "parameters": {
        "operation": "read",
        "sheetId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "Select a Sheet"
        },
        "range": "A:Z",
        "options": {}
      },
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        450,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets Account"
        }
      },
      "id": "a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "create",
        "owner": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "Select Owner"
        },
        "repository": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "Select Repository"
        },
        "filePath": "data.json",
        "binaryData": false,
        "fileContent": "={{ JSON.stringify($json) }}"
      },
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        650,
        300
      ],
      "credentials": {
        "githubOAuth2Api": {
          "id": "",
          "name": "GitHub Account"
        }
      },
      "id": "1a2b3c4d-5e6f-7a8b-9c0d-1e2f3a4b5c6d"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
