n8n_workflows/Workflow Agente_RAG_n8n.json
{
  "name": "2 Retrieval Augmented Generation AI Agent",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "928b5cae-77cd-48a2-81ef-2f76dc441b0a",
              "leftValue": "={{ $('File Updated').item.json.mimeType }}",
              "rightValue": "application/vnd.google-apps.document",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "6368b5ad-32b0-491d-a27d-5cc3ad5c2a11",
              "leftValue": "={{ ((Date.now() - Date.parse($('File Updated').item.json.createdTime)) / 1000) }}",
              "rightValue": 60,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2760,
        160
      ],
      "id": "d93d757e-23eb-44be-9c51-6beafa6b885f",
      "name": "If",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "# Knowledge Base Update File\n## Watch for file updated in a specified google drive folder \n## -> Remove old entry from knowledge base -> Implement versioning \n## -> Convert if necessary -> Extract text -> Add to knowledge base\n\n",
        "height": 1008,
        "width": 3067,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2360,
        -240
      ],
      "typeVersion": 1,
      "id": "06a40ffd-212d-4640-ba5f-4afaf798e7a1",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1c2sUK800AyknjXWPtRBZcqcnqvGQmYLE",
          "mode": "list",
          "cachedResultName": "Supabase",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1c2sUK800AyknjXWPtRBZcqcnqvGQmYLE"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "dec562ec-6dba-40e2-ba51-1651025045e9",
      "name": "File Updated",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        2420,
        160
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "UvAfEGoxQi7ly0fN",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "id": "12d04777-4316-4316-b7ec-8585e8247a76",
      "name": "Limit",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        2760,
        420
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "8ae37870-91ac-4f8c-8347-3d1a728dc6f0",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        1260,
        -480
      ],
      "webhookId": "3b4d0d6f-8540-4fcc-821c-38ebfe73bf23"
    },
    {
      "parameters": {
        "content": "# RAG AI Agent\n- Create or update file in google drive\n- Convert document to text and post in Supabase\n- Chat with AI Agent connected to Knowledge Base\n\n",
        "height": 148,
        "width": 582,
        "color": 6
      },
      "id": "6bdcf222-9c10-486c-a776-1bc6796fa478",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1220,
        -760
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2120,
        -160
      ],
      "id": "ede95e81-a4e0-4d0c-bd0b-46df5200695b",
      "name": "GPT 4o mini",
      "credentials": {
        "openAiApi": {
          "id": "utCndENqU3o62u6e",
          "name": "n8n malenAI "
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $('Set ID').item.json.file_id }}/copy",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $('Set ID').item.json.name }}"
            },
            {
              "name": "mimeType",
              "value": "application/vnd.google-apps.document"
            }
          ]
        },
        "options": {}
      },
      "id": "cde400a1-c5ae-4958-bf60-4001e9be58f7",
      "name": "Convert to Google Doc",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3700,
        -480
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "UvAfEGoxQi7ly0fN",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "=documents",
          "mode": "id"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "44e3fdf3-f47e-44c8-bf0e-7d05f0a98c3e",
      "name": "Supabase Vectorstore",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        4320,
        -1060
      ],
      "credentials": {
        "supabaseApi": {
          "id": "kFAqJ1gU5j5zHNTM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Extract Data to Text\n",
        "height": 560,
        "width": 640,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3640,
        -1140
      ],
      "id": "dbc13497-dfce-46f6-8185-9deb26bde348",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Watch for Google Drive File Creation\n",
        "height": 420,
        "width": 820,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2420,
        -860
      ],
      "id": "b740ef64-a32b-4a62-95e9-c6d5b3220390",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "# Knowledge Base File Creation\n## Watch for file creation in a specified google drive folder \n## -> Convert if necessary -> Extract text -> Add to knowledge base\n\n",
        "height": 900,
        "width": 2560,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2360,
        -1180
      ],
      "typeVersion": 1,
      "id": "942a378a-3fa5-4de8-aa22-c99fc6e90fe4",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## Update Knowledge Base",
        "height": 560,
        "width": 580,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4300,
        -1140
      ],
      "id": "007a8e67-98ec-446a-9a06-e5ade27ac254",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "id": "20b3680b-ae7d-47a4-8f55-1eaec6fea431",
      "name": "Extract from Excel",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        3700,
        -740
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "41960eed-7bca-4fa8-a359-edce27543b4c",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        3700,
        -1060
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2860,
        -780
      ],
      "id": "661701ed-0396-47ea-afc8-07ee0e6f1e45",
      "name": "Loop"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "e30c7295-7e56-40a6-b50c-779c972d99f7",
      "name": "Extract File Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        3700,
        -900
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set ID').item.json.file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3880,
        -480
      ],
      "id": "3b96a784-8819-4156-9ed2-555ab905b63c",
      "name": "Delete File",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "UvAfEGoxQi7ly0fN",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1c2sUK800AyknjXWPtRBZcqcnqvGQmYLE",
          "mode": "list",
          "cachedResultName": "Supabase",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1c2sUK800AyknjXWPtRBZcqcnqvGQmYLE"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "ed7f9f51-8001-4861-a24b-a7f21dd1227a",
      "name": "File Created",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        2480,
        -780
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "UvAfEGoxQi7ly0fN",
          "name": "Google Drive account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Convert Text Files to Google Doc\n",
        "height": 240,
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3620,
        -540
      ],
      "id": "8db0556e-9918-42ca-96dc-e8b1514c2b42",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Route Files\n",
        "height": 440,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3260,
        -860
      ],
      "id": "da7603d0-c7c9-4b40-b70e-0ea676f7edb5",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $('File Created').item.json.id }}",
              "type": "string"
            },
            {
              "id": "f4536df5-d0b1-4392-bf17-b8137fb31a44",
              "name": "file_type",
              "value": "={{ $('File Created').item.json.mimeType }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4efd43ab-f7fe-4ec8-9f52-31c30f0e3c7e",
      "name": "Set ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2660,
        -780
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "id"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "2d6801dc-72fb-4001-b469-61e9babc1eb8",
      "name": "Supabase",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        4840,
        -80
      ],
      "credentials": {
        "supabaseApi": {
          "id": "kFAqJ1gU5j5zHNTM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Watch for Google Drive File Creation\n",
        "height": 600,
        "width": 640,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2380,
        60
      ],
      "id": "dba37b9b-99ac-4b55-958e-a12de3340e4d",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $('File Updated').item.json.id }}",
              "type": "string"
            },
            {
              "id": "f4536df5-d0b1-4392-bf17-b8137fb31a44",
              "name": "file_type",
              "value": "={{ $('File Updated').item.json.mimeType }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "106656bb-6b2b-49da-a6cd-34ac2ea5f04e",
      "name": "Set ID_",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2600,
        160
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{ $('Set ID_').item.json.file_id }}*"
      },
      "id": "7c5b081f-e4f6-4a18-977a-20b657c51187",
      "name": "Remove Supabase Row",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2520,
        420
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "kFAqJ1gU5j5zHNTM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You are a helpful, intelligent assistant.\nYour task is to take the incoming version number and add 1. \n\n**Examples**\nInput: v1\nOutput: v2\n\nInput: v2\nOutput: v3\n\nInput: v'#'\nOutput: v'#+1'\n\nThe output field should always be called \"version\"",
              "role": "system"
            },
            {
              "content": "=input version number: {{ $json.metadata.version }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "2125ca1b-257d-4047-b3d1-1dce6d869040",
      "name": "Version Control",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        3140,
        160
      ],
      "credentials": {
        "openAiApi": {
          "id": "utCndENqU3o62u6e",
          "name": "n8n malenAI "
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3160,
        400
      ],
      "id": "791434c8-728a-4221-ab69-20b8e98ba6cf",
      "name": "Loop_"
    },
    {
      "parameters": {
        "content": "## Set Version ID\n",
        "height": 600,
        "width": 560,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3060,
        60
      ],
      "id": "cfd41e31-d915-4992-8e68-abfc12fbc1e3",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Route Files\n",
        "height": 420,
        "width": 280
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3660,
        20
      ],
      "id": "546f23e2-e059-488e-b953-156e67420a97",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        4960,
        160
      ],
      "id": "26eb5a91-fd7c-4609-b6ae-05f2d1aecfcf",
      "name": "text-embedding-3-small_",
      "credentials": {
        "openAiApi": {
          "id": "utCndENqU3o62u6e",
          "name": "n8n malenAI "
        }
      }
    },
    {
      "parameters": {
        "content": "## Convert Text Files to Google Doc\n",
        "height": 260,
        "width": 520
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4100,
        480
      ],
      "id": "6b7275a5-e116-4437-99b2-fe6a2c0a63d3",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $('Set ID_').item.json.file_id }}/copy",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $('Set ID_').item.json.name }}"
            },
            {
              "name": "mimeType",
              "value": "application/vnd.google-apps.document"
            }
          ]
        },
        "options": {}
      },
      "id": "4ebc6243-7db5-4f68-8626-c549061e7fe1",
      "name": "Convert to Google Doc_",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4160,
        560
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "UvAfEGoxQi7ly0fN",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set ID_').item.json.file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4400,
        560
      ],
      "id": "7b856af6-b872-432e-a607-a52acfdda0d4",
      "name": "Delete File_",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "UvAfEGoxQi7ly0fN",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set ID_').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "id": "920696d3-9720-4827-8b87-4fd8a25e5260",
      "name": "Download File_",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3440,
        400
      ],
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "UvAfEGoxQi7ly0fN",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set ID').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "id": "297cd949-0198-410a-8d8f-c745d1bf3f84",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3040,
        -660
      ],
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "UvAfEGoxQi7ly0fN",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Set ID_').item.json.file_type }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "fc193b06-363b-4699-a97d-e5a850138b0e",
                    "leftValue": "={{ $('Set ID_').item.json.file_type }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text File"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "2ae7faa7-a936-4621-a680-60c512163034",
                    "leftValue": "={{ $('Set ID_').item.json.file_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Excel"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "7ddfa924-1c26-4ee3-9890-5c9d2b96717a",
                    "leftValue": "={{ $('Set ID_').item.json.file_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Windows Doc(1)"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "f53caf8b-7a8f-4d1e-98f4-deaf0e0171f0",
                    "leftValue": "={{ $('Set ID_').item.json.file_type }}",
                    "rightValue": "application/msword",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Windows Doc(2)"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "cd9ca627-d00d-4c30-903a-41f603c8e36f",
                    "leftValue": "={{ $('Set ID_').item.json.file_type }}",
                    "rightValue": "application/vnd.ms-word",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Windows Doc(3)"
            }
          ]
        },
        "options": {
          "fallbackOutput": 2
        }
      },
      "id": "818b780e-6349-4a58-b27d-ba31c1304e34",
      "name": "Switch_",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        3740,
        80
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Set ID').item.json.file_type }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "fc193b06-363b-4699-a97d-e5a850138b0e",
                    "leftValue": "={{ $('Set ID').item.json.file_type }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text File"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "2ae7faa7-a936-4621-a680-60c512163034",
                    "leftValue": "={{ $('Set ID').item.json.file_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Excel"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "7ddfa924-1c26-4ee3-9890-5c9d2b96717a",
                    "leftValue": "={{ $('Set ID').item.json.file_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Windows Doc(1)"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "f53caf8b-7a8f-4d1e-98f4-deaf0e0171f0",
                    "leftValue": "={{ $('Set ID').item.json.file_type }}",
                    "rightValue": "application/msword",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Windows Doc(2)"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "cd9ca627-d00d-4c30-903a-41f603c8e36f",
                    "leftValue": "={{ $('Set ID').item.json.file_type }}",
                    "rightValue": "application/vnd.ms-word",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Windows Doc(3)"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "295de3c1-5c12-4b75-96bc-bb6d3a27aff3",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        3340,
        -760
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "c4c691cf-dacf-4001-847b-e69218baac93",
      "name": "Aggregate_",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        4380,
        280
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "827b2e03-365b-47dd-84c7-7e73a8131ad4",
      "name": "Summary_",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        4560,
        280
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "e84f9320-47b4-4f92-bf4b-e4c23b9bc57d",
      "name": "Extract PDF Text_",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        4160,
        -80
      ]
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "a1a29ec5-8867-4810-9c87-261db56e1a1f",
      "name": "Extract from Text File_",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        4160,
        100
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "id": "e000e88a-005e-4913-9743-a882d75b2b77",
      "name": "Extract from Excel_",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        4160,
        280
      ]
    },
    {
      "parameters": {
        "content": "## Update Knowledge Base",
        "height": 540,
        "width": 580,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4800,
        -140
      ],
      "id": "fb0d1482-8a63-4b21-9d6d-ccd3e6a1ae45",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## Extract Data to Text\n",
        "height": 580,
        "width": 640,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4100,
        -140
      ],
      "id": "3fb94d6c-b1f4-44ce-81b5-bf159ddec1a8",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "8821a8eb-9d3b-4f5d-8809-e87030e63f00",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3920,
        -740
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "76ee8ee4-acdb-4040-8af1-9f224d430f83",
      "name": "Summary",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        4100,
        -740
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        4420,
        -800
      ],
      "id": "f06b5be9-7ab6-4162-95ed-19f44d7da693",
      "name": "text-embedding-3-small",
      "credentials": {
        "openAiApi": {
          "id": "utCndENqU3o62u6e",
          "name": "n8n malenAI "
        }
      }
    },
    {
      "parameters": {
        "chunkSize": 2000,
        "chunkOverlap": 200,
        "options": {
          "splitCode": "markdown"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        4680,
        -720
      ],
      "id": "7abf4ff0-2f7e-4b85-ba2f-74546a0563cd",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data || $json.text || $json.concatenated_data }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=fileID",
                "value": "={{ $('Set ID').item.json.file_id }}"
              },
              {
                "name": "=version",
                "value": "v1"
              },
              {
                "name": "=creator",
                "value": "={{ $('File Created').item.json.owners[0].displayName }}"
              },
              {
                "name": "=created_at",
                "value": "={{ $('File Created').item.json.createdTime }}"
              },
              {
                "name": "last_modified",
                "value": "={{ $('File Created').item.json.modifiedTime }}"
              },
              {
                "name": "folder_path",
                "value": "projects"
              },
              {
                "name": "file_name",
                "value": "={{ $('File Created').item.json.name }}"
              },
              {
                "name": "file_extension",
                "value": "={{ $('File Created').item.json.mimeType }}"
              }
            ]
          }
        }
      },
      "id": "45bdf348-af58-4ffa-9b26-884f92d9cfd6",
      "name": "Enhanced Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        4560,
        -860
      ]
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data || $json.text || $json.concatenated_data }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=fileID",
                "value": "={{ $('Set ID_').item.json.file_id }}"
              },
              {
                "name": "=version",
                "value": "={{ $('Version Control').item.json.message.content.version }}"
              },
              {
                "name": "=creator",
                "value": "={{ $('File Updated').item.json.owners[0].displayName }}"
              },
              {
                "name": "=created_at",
                "value": "={{ $('File Updated').item.json.createdTime }}"
              },
              {
                "name": "=last_modified",
                "value": "={{ $('File Updated').item.json.modifiedTime }}"
              },
              {
                "name": "=folder_path",
                "value": "projects"
              },
              {
                "name": "=file_name",
                "value": "={{ $('File Updated').item.json.name }}"
              },
              {
                "name": "=file_extension",
                "value": "={{ $('File Updated').item.json.mimeType }}"
              }
            ]
          }
        }
      },
      "id": "f943834d-1c1c-4993-ac53-1e6dc64acd66",
      "name": "Enhanced Default Data Loader_",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        5080,
        100
      ]
    },
    {
      "parameters": {
        "chunkSize": 2000,
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        5180,
        240
      ],
      "id": "a73cc0e7-e9db-49d2-b636-75df52d18b1d",
      "name": "Recursive Character Text Splitter_"
    },
    {
      "parameters": {
        "content": "## Message AI Agent \n\n\n",
        "height": 280,
        "width": 580,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1220,
        -580
      ],
      "id": "9d54721d-63f9-43dc-b73f-48aac476a66c",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "content": "## Connected to GPT-4o mini\n- double click to change LLM",
        "width": 460
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1140,
        -260
      ],
      "id": "2de9588d-aa6b-4f17-8c88-db6ca108f3f0",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "fa40f89c-5455-4ea1-bfe5-8c53a4bedae6",
      "name": "RAG Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1520,
        -540
      ]
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "id": "2ee6606e-4793-41a2-930d-530b1fcc295c",
      "name": "Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.1,
      "position": [
        1620,
        -40
      ],
      "credentials": {
        "postgres": {
          "id": "aOqjEX4gtQaXz1IL",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Postgres database\n- can use Window Memory Buffer\n- Postgres allows scalability, and stores data externally",
        "width": 600
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1140,
        -80
      ],
      "id": "4f994738-09f1-4127-8358-0f37ac5f78df",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ca3d94ce-e27c-4b0b-ba3c-1fbffb25c28b",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1460,
        -220
      ],
      "credentials": {
        "openAiApi": {
          "id": "utCndENqU3o62u6e",
          "name": "n8n malenAI "
        }
      }
    },
    {
      "parameters": {
        "content": "## Vector Store Tool\n- allows for retrieval of data in Knowledge Base",
        "height": 420,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1860,
        -460
      ],
      "id": "7521b972-3e8e-425c-820a-903f7f553fcd",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "55f30672-11b3-42b9-a170-db0231ba6179",
      "name": "Supabase Knowledge Base",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        2020,
        100
      ],
      "credentials": {
        "supabaseApi": {
          "id": "kFAqJ1gU5j5zHNTM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Knowledge Base\n- ensure embeddings match database ",
        "height": 380,
        "width": 520
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1780,
        0
      ],
      "id": "875a4a98-f1a3-47de-8d19-2434d3c5ae43",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "5ded746a-114c-40be-b1a2-8e9de71c713d",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        1860,
        240
      ],
      "credentials": {
        "openAiApi": {
          "id": "utCndENqU3o62u6e",
          "name": "n8n malenAI "
        }
      }
    },
    {
      "parameters": {
        "content": "# Chatbot\n## Let me know if you have any questions. Certainly some room for improvement\n## Feel free to reach out at martin@malenAI.com",
        "height": 1340,
        "width": 1200,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1120,
        -920
      ],
      "id": "c0f898a0-4f43-42a6-a83b-e08a7cc92fd5",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "name": "project_data",
        "description": "Retrieve information from vector store."
      },
      "id": "595018cc-c4ee-4a94-9a48-fd8efecf6de2",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        1920,
        -280
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [],
        [
          {
            "node": "Remove Supabase Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Updated": {
      "main": [
        [
          {
            "node": "Set ID_",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Version Control",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "RAG Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT 4o mini": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Google Doc": {
      "main": [
        [
          {
            "node": "Delete File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Excel": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "Supabase Vectorstore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract File Text": {
      "main": [
        [
          {
            "node": "Supabase Vectorstore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Created": {
      "main": [
        [
          {
            "node": "Set ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set ID": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set ID_": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Supabase Row": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Version Control": {
      "main": [
        [
          {
            "node": "Loop_",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop_": {
      "main": [
        [
          {
            "node": "Switch_",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download File_",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "text-embedding-3-small_": {
      "ai_embedding": [
        [
          {
            "node": "Supabase",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Google Doc_": {
      "main": [
        [
          {
            "node": "Delete File_",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File_": {
      "main": [
        [
          {
            "node": "Loop_",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch_": {
      "main": [
        [
          {
            "node": "Extract PDF Text_",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from Text File_",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from Excel_",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to Google Doc_",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to Google Doc_",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to Google Doc_",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract File Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from Excel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to Google Doc",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to Google Doc",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to Google Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate_": {
      "main": [
        [
          {
            "node": "Summary_",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary_": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text_": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Text File_": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Excel_": {
      "main": [
        [
          {
            "node": "Aggregate_",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary": {
      "main": [
        [
          {
            "node": "Supabase Vectorstore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "text-embedding-3-small": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vectorstore",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Enhanced Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Enhanced Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vectorstore",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Enhanced Default Data Loader_": {
      "ai_document": [
        [
          {
            "node": "Supabase",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter_": {
      "ai_textSplitter": [
        [
          {
            "node": "Enhanced Default Data Loader_",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Knowledge Base": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Knowledge Base",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ef18af4c-2ba8-41a4-9887-b6bf85f39062",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "98b3713886201ff4b893bf76344eb318d1967daca7fbec4f1c4ea46dbd7cefb0"
  },
  "id": "2bBJsArLy6OzRZBZ",
  "tags": [
    {
      "createdAt": "2025-02-17T00:04:34.038Z",
      "updatedAt": "2025-02-17T00:04:34.038Z",
      "id": "5N5pE7S340vbrhjE",
      "name": "RAG"
    }
  ]
}